body 
{
  text-align: center;
  background-color:#232323;
}

#level-title 
{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  color:white;
  margin:0;
}

.container 
{
  display: block;
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

.go-btn 
{
  margin: 40px;
  display: inline-block;
  height: 160px;
  width: 500px;
  border: 5px solid black;
  background-color: #444444;
}

h2
{
  padding-left: 25px;
}

.btn 
{
  margin: 15px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 10%;
}

.game-over 
{
  background-color: red;
  opacity: 0.8;
}

.red 
{
  background-color: red;
}

.green 
{
  background-color: green;
}

.blue 
{
  background-color:#185ADB;
}

.yellow 
{
  background-color: yellow;
}

.pressed 
{
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.rules
{
  background-color: #423F3E;
  margin:5% 30%;
  padding-top: 5px;
  color:white;
  text-align: justify;
  font-family: Montserrat;
}

.inner-block
{
  text-align: justify;
  color: black;
  background-color: #DDDDDD;
  padding:30px;
}

/*for mobile users*/

@media (max-width: 1028px)
{
  .btn
  {
    margin: 10px;
    height: 250px;
    width: 250px;
  }
  .container
  {
   
   margin-top:30px;
   width:100%
  }
  .go-btn 
  {
    text-align: center;
    width: 550px;
    height: 300px;
    margin:50px;
  }
  #level-title 
  {
    font-size: 4rem;
    padding:10px;
  }
  .rules
  {
    width: 550px;
    margin:70px 210px;
  }
  
}

